<a href="https://colab.research.google.com/github/chirag3096/ExcelR-Assignment/blob/main/KNN_Zoo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [89]:
data=pd.read_csv('/content/Zoo (3).csv')

In [90]:
data.tail()

    animal name  hair  feathers  eggs  ...  tail  domestic  catsize  type
96      wallaby     1         0     0  ...     1         0        1     1
97         wasp     1         0     1  ...     0         0        0     6
98         wolf     1         0     0  ...     1         0        1     1
99         worm     0         0     1  ...     0         0        0     7
100        wren     0         1     1  ...     1         0        0     2

[5 rows x 18 columns]

In [91]:
data.describe()

             hair    feathers        eggs  ...    domestic     catsize        type
count  101.000000  101.000000  101.000000  ...  101.000000  101.000000  101.000000
mean     0.425743    0.198020    0.584158  ...    0.128713    0.435644    2.831683
std      0.496921    0.400495    0.495325  ...    0.336552    0.498314    2.102709
min      0.000000    0.000000    0.000000  ...    0.000000    0.000000    1.000000
25%      0.000000    0.000000    0.000000  ...    0.000000    0.000000    1.000000
50%      0.000000    0.000000    1.000000  ...    0.000000    0.000000    2.000000
75%      1.000000    0.000000    1.000000  ...    0.000000    1.000000    4.000000
max      1.000000    1.000000    1.000000  ...    1.000000    1.000000    7.000000

[8 rows x 17 columns]

In [92]:
data.isnull().sum()

animal name    0
hair           0
feathers       0
eggs           0
milk           0
airborne       0
aquatic        0
predator       0
toothed        0
backbone       0
breathes       0
venomous       0
fins           0
legs           0
tail           0
domestic       0
catsize        0
type           0
dtype: int64

In [93]:
X = data.iloc[:,1:17]
y = data.iloc[:,17]

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [95]:
k_values = np.arange(1,25)
train_accuracy = []
test_accuracy = []

In [96]:
for i, k in enumerate(k_values):
    model = KNeighborsClassifier(n_neighbors=k)
    model.fit(X_train,y_train)
    train_accuracy.append(model.score(X_train, y_train))
    test_accuracy.append(model.score(X_test, y_test))

In [97]:
model = KNeighborsClassifier(n_neighbors=5)

In [98]:
model.fit(X_train, y_train)
y_pred_KNeighborsClassifier = model.predict(X_test)

In [99]:
scores = []
cv_scores = []

In [100]:
score = accuracy_score(y_pred_KNeighborsClassifier,y_test)
scores.append(score)

In [101]:
score_model=cross_val_score(model, X,y, cv=10)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 4 members, which is less than n_splits=10.
  UserWarning,

In [102]:
score_model.mean()

0.8809090909090909

In [103]:
cv_score = score_model.mean()

In [104]:
cv_scores.append(cv_score)

In [105]:
cv_scores

[0.8809090909090909]