<a href="https://colab.research.google.com/github/chirag3096/ExcelR-Assignment/blob/main/KNN_Glass.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [106]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn import preprocessing
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.model_selection import cross_val_score

In [107]:
data=pd.read_csv('/content/glass.csv')

In [108]:
data.tail()

          RI     Na   Mg    Al     Si     K    Ca    Ba   Fe  Type
209  1.51623  14.14  0.0  2.88  72.61  0.08  9.18  1.06  0.0     7
210  1.51685  14.92  0.0  1.99  73.06  0.00  8.40  1.59  0.0     7
211  1.52065  14.36  0.0  2.02  73.42  0.00  8.44  1.64  0.0     7
212  1.51651  14.38  0.0  1.94  73.61  0.00  8.48  1.57  0.0     7
213  1.51711  14.23  0.0  2.08  73.36  0.00  8.62  1.67  0.0     7

In [109]:
data.describe()

               RI          Na          Mg  ...          Ba          Fe        Type
count  214.000000  214.000000  214.000000  ...  214.000000  214.000000  214.000000
mean     1.518365   13.407850    2.684533  ...    0.175047    0.057009    2.780374
std      0.003037    0.816604    1.442408  ...    0.497219    0.097439    2.103739
min      1.511150   10.730000    0.000000  ...    0.000000    0.000000    1.000000
25%      1.516523   12.907500    2.115000  ...    0.000000    0.000000    1.000000
50%      1.517680   13.300000    3.480000  ...    0.000000    0.000000    2.000000
75%      1.519157   13.825000    3.600000  ...    0.000000    0.100000    3.000000
max      1.533930   17.380000    4.490000  ...    3.150000    0.510000    7.000000

[8 rows x 10 columns]

In [110]:
data.isnull().sum()

RI      0
Na      0
Mg      0
Al      0
Si      0
K       0
Ca      0
Ba      0
Fe      0
Type    0
dtype: int64

In [124]:
X = np.array(data.iloc[:,0:9])
y = np.array(data['Type'])

In [125]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=1)

In [136]:
k_values = np.arange(1,25)
train_accuracy = []
test_accuracy = []

In [137]:
model = KNeighborsClassifier(n_neighbors=5)

In [138]:
for i, k in enumerate(k_values):
    model= KNeighborsClassifier(n_neighbors=k)
    model.fit(X_train,y_train)
    train_accuracy.append(model.score(X_train, y_train))
    test_accuracy.append(model.score(X_test, y_test))

In [139]:
model = KNeighborsClassifier(n_neighbors=4)

In [140]:
model.fit(X_train, y_train)
y_pred_KNeighborsClassifier = model.predict(X_test)

In [141]:
scores = []
cv_scores = []

In [142]:
score = accuracy_score(y_pred_KNeighborsClassifier,y_test)
scores.append(score)

In [143]:
score_model=cross_val_score(model, X,y, cv=10)

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 9 members, which is less than n_splits=10.
  UserWarning,

In [144]:
score_model.mean()

0.6454545454545455

In [145]:
cv_score = score_model.mean()
cv_scores.append(cv_score)
cv_scores

[0.6454545454545455]