<a href="https://colab.research.google.com/github/chirag3096/ExcelR-Assignment/blob/main/Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [87]:
import numpy as np
import pandas as pd
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB
from sklearn.naive_bayes import MultinomialNB

In [88]:
test_data = pd.read_csv('/content/SalaryData_Test (1).csv')
train_data = pd.read_csv('/content/SalaryData_Train (1).csv')

In [89]:
data = test_data.append(train_data)

In [90]:
test = test_data.copy()
train = train_data.copy()

In [91]:
str_c = ["workclass","education","maritalstatus","occupation","relationship","race","sex","native"]

In [92]:
number = LabelEncoder()

In [93]:
for i in str_c:
    train[i]= number.fit_transform(train[i])
    test[i]=number.fit_transform(test[i])

In [94]:
mapping = {' >50K': 1, ' <=50K': 2}

In [95]:
train = train.replace({'Salary': mapping})
test = test.replace({'Salary': mapping})

In [96]:
df = train.append(test)

In [97]:
df1 = df.copy()

In [98]:
df1.head()

   age  workclass  education  ...  hoursperweek  native  Salary
0   39          5          9  ...            40      37       2
1   50          4          9  ...            13      37       2
2   38          2         11  ...            40      37       2
3   53          2          1  ...            40      37       2
4   28          2          9  ...            40       4       2

[5 rows x 14 columns]

In [99]:
df1.isnull().sum()

age              0
workclass        0
education        0
educationno      0
maritalstatus    0
occupation       0
relationship     0
race             0
sex              0
capitalgain      0
capitalloss      0
hoursperweek     0
native           0
Salary           0
dtype: int64

In [100]:
x_train = train.iloc[:,0:13]
y_train = train.iloc[:,13]
x_test = test.iloc[:,0:13]
y_test = test.iloc[:,13]

In [101]:
clsfrgnb = GaussianNB()

In [102]:
clsfrgnb.fit(x_train, y_train)

GaussianNB()

In [103]:
y_pred_gnb = clsfrgnb.predict(x_test)

In [104]:
confusion_matrix(y_test, y_pred_gnb)

array([[ 1209,  2491],
       [  601, 10759]])

In [105]:
print ("Accuracy",np.mean(y_pred_gnb==y_test.values.flatten()))

Accuracy 0.7946879150066402

In [106]:
clsfrmnb = MultinomialNB()

In [107]:
clsfrmnb.fit(x_train, y_train)

MultinomialNB()

In [108]:
y_pred_mnb = clsfrmnb.predict(x_test)

In [109]:
confusion_matrix(y_test, y_pred_mnb)

array([[  780,  2920],
       [  469, 10891]])

In [110]:
print ("Accuracy",np.mean(y_pred_mnb==y_test.values.flatten()))

Accuracy 0.7749667994687915