<a href="https://colab.research.google.com/github/chirag3096/ExcelR-Assignment/blob/main/Random_Forests_(Fraud).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [22]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [23]:
data=pd.read_csv('/content/Fraud_check (1).csv')

In [24]:
data

    Undergrad Marital.Status  ...  Work.Experience  Urban
0          NO         Single  ...               10    YES
1         YES       Divorced  ...               18    YES
2          NO        Married  ...               30    YES
3         YES         Single  ...               15    YES
4          NO        Married  ...               28     NO
..        ...            ...  ...              ...    ...
595       YES       Divorced  ...                7    YES
596       YES       Divorced  ...                2    YES
597        NO       Divorced  ...                0    YES
598       YES        Married  ...               17     NO
599        NO       Divorced  ...               16     NO

[600 rows x 6 columns]

In [25]:
data.describe()

       Taxable.Income  City.Population  Work.Experience
count      600.000000       600.000000       600.000000
mean     55208.375000    108747.368333        15.558333
std      26204.827597     49850.075134         8.842147
min      10003.000000     25779.000000         0.000000
25%      32871.500000     66966.750000         8.000000
50%      55074.500000    106493.500000        15.000000
75%      78611.750000    150114.250000        24.000000
max      99619.000000    199778.000000        30.000000

In [26]:
data.isnull().sum()

Undergrad          0
Marital.Status     0
Taxable.Income     0
City.Population    0
Work.Experience    0
Urban              0
dtype: int64

In [27]:
data.dtypes

Undergrad          object
Marital.Status     object
Taxable.Income      int64
City.Population     int64
Work.Experience     int64
Urban              object
dtype: object

In [28]:
data1 = pd.get_dummies(data, columns = ['Undergrad','Marital.Status','Urban'])

In [29]:
data1['Taxable.Income']=pd.cut(data1['Taxable.Income'],bins=[0,30000,100000],labels=['risky','good'])

In [30]:
list(data1.columns)

['Taxable.Income',
 'City.Population',
 'Work.Experience',
 'Undergrad_NO',
 'Undergrad_YES',
 'Marital.Status_Divorced',
 'Marital.Status_Married',
 'Marital.Status_Single',
 'Urban_NO',
 'Urban_YES']

In [31]:
X = data1.iloc[:,1:10]
y = data1.iloc[:,0]

In [32]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [33]:
y_train.value_counts()

good     385
risky     95
Name: Taxable.Income, dtype: int64

In [34]:
model =RF(n_jobs=4,n_estimators = 150, oob_score =True,criterion ='entropy') 
model.fit(x_train,y_train)
model.oob_score_

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

0.7375

In [35]:
pred_train = model.predict(x_train)

In [36]:
confusion_matrix(y_train,pred_train)

array([[385,   0],
       [  0,  95]])

In [37]:
pred_test = model.predict(x_test)

In [38]:
accuracy_score(y_test,pred_test)

0.7166666666666667

In [39]:
data2=pd.DataFrame({'Actual':y_test, 'Predicted':pred_test})

In [40]:
data2

    Actual Predicted
145   good      good
418   good      good
283   good      good
276   good      good
358   good      good
..     ...       ...
373   good      good
432   good      good
95    good      good
263   good      good
245   good      good

[120 rows x 2 columns]