<a href="https://colab.research.google.com/github/chirag3096/ExcelR-Assignment/blob/main/Random_Forests_(company).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [35]:
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np
from sklearn.ensemble import RandomForestClassifier as RF
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [36]:
data=pd.read_csv('/content/Company_Data (2).csv')

In [37]:
data

     Sales  CompPrice  Income  Advertising  ...  Age  Education Urban   US
0     9.50        138      73           11  ...   42         17   Yes  Yes
1    11.22        111      48           16  ...   65         10   Yes  Yes
2    10.06        113      35           10  ...   59         12   Yes  Yes
3     7.40        117     100            4  ...   55         14   Yes  Yes
4     4.15        141      64            3  ...   38         13   Yes   No
..     ...        ...     ...          ...  ...  ...        ...   ...  ...
395  12.57        138     108           17  ...   33         14   Yes  Yes
396   6.14        139      23            3  ...   55         11    No  Yes
397   7.41        162      26           12  ...   40         18   Yes  Yes
398   5.94        100      79            7  ...   50         12   Yes  Yes
399   9.71        134      37            0  ...   49         16   Yes  Yes

[400 rows x 11 columns]

In [38]:
data.describe()

            Sales   CompPrice      Income  ...       Price         Age   Education
count  400.000000  400.000000  400.000000  ...  400.000000  400.000000  400.000000
mean     7.496325  124.975000   68.657500  ...  115.795000   53.322500   13.900000
std      2.824115   15.334512   27.986037  ...   23.676664   16.200297    2.620528
min      0.000000   77.000000   21.000000  ...   24.000000   25.000000   10.000000
25%      5.390000  115.000000   42.750000  ...  100.000000   39.750000   12.000000
50%      7.490000  125.000000   69.000000  ...  117.000000   54.500000   14.000000
75%      9.320000  135.000000   91.000000  ...  131.000000   66.000000   16.000000
max     16.270000  175.000000  120.000000  ...  191.000000   80.000000   18.000000

[8 rows x 8 columns]

In [39]:
data.isnull().sum()

Sales          0
CompPrice      0
Income         0
Advertising    0
Population     0
Price          0
ShelveLoc      0
Age            0
Education      0
Urban          0
US             0
dtype: int64

In [40]:
data.dtypes

Sales          float64
CompPrice        int64
Income           int64
Advertising      int64
Population       int64
Price            int64
ShelveLoc       object
Age              int64
Education        int64
Urban           object
US              object
dtype: object

In [41]:
data1 = pd.get_dummies(data, columns = ['ShelveLoc','Urban','US'])

In [42]:
data1

     Sales  CompPrice  Income  Advertising  ...  Urban_No  Urban_Yes  US_No  US_Yes
0     9.50        138      73           11  ...         0          1      0       1
1    11.22        111      48           16  ...         0          1      0       1
2    10.06        113      35           10  ...         0          1      0       1
3     7.40        117     100            4  ...         0          1      0       1
4     4.15        141      64            3  ...         0          1      1       0
..     ...        ...     ...          ...  ...       ...        ...    ...     ...
395  12.57        138     108           17  ...         0          1      0       1
396   6.14        139      23            3  ...         1          0      0       1
397   7.41        162      26           12  ...         0          1      0       1
398   5.94        100      79            7  ...         0          1      0       1
399   9.71        134      37            0  ...         0          1      0       1

[400 rows x 15 columns]

In [43]:
data1["sales"]="small"
data1.loc[data1["Sales"]>7.49,"sales"]="large"
data1.drop(["Sales"],axis=1,inplace=True)

In [44]:
X = data1.iloc[:,0:14]
y = data1.iloc[:,14]

In [45]:
x_train,x_test,y_train,y_test = train_test_split(X,y,test_size = 0.2)

In [46]:
y_train.value_counts()

large    161
small    159
Name: sales, dtype: int64

In [47]:
model =RF(n_jobs=4,n_estimators = 150, oob_score =True,criterion ='entropy') 
model.fit(x_train,y_train)
model.oob_score_

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  "X does not have valid feature names, but"

0.759375

In [48]:
pred_train = model.predict(x_train)

In [49]:
confusion_matrix(y_train,pred_train)

array([[161,   0],
       [  0, 159]])

In [50]:
pred_test = model.predict(x_test)

In [51]:
accuracy_score(y_test,pred_test)

0.875

In [52]:
confusion_matrix(y_test,pred_test)

array([[34,  4],
       [ 6, 36]])